---

import { Icon } from 'astro-icon/components'
const { data } = Astro.props

---

    <ul role="list">
        {data.map(lang => 
            <li>
                <Icon name={lang.icon}  />
                <p data-heading="tagline">{lang.language}</p>
            </li>
        )}
    </ul>

<style>

    ul {
        display: flex;
        justify-content: space-between;
        
        @media (min-width:600px) {
            display: grid;
            place-content: start;
            place-self: center;
            position: relative;
            grid-row: 1 / -1;
            grid-column: -1;
            order: -1;

        }
        

        li {
            display: grid;
            gap: var(--space-2xs);
            place-items: center;
            text-align: center;

            [data-icon] {width: 2rem; color: var(--blue-haze-400);}

            @media (min-width:600px) {

                li + &::before {
                content: '';
                height: var(--space-m-l);
                border: var(--border);
                margin-block: var(--space-s) var(--space-2xs);
            }
            }

        }
    }

</style>