---
import MainLayout from "../layout/MainLayout.astro";
// import Projects from "../components/sections/Projects.astro"
import Projects from "../components/sections/Projects";
import About from "../components/sections/About.astro";
import Skills from "../components/sections/Skills.astro";


---

<MainLayout>
	<section>
		<About />
		<Projects client:load />
		<Skills />
	</section>
</MainLayout>

<style>
	section {
		display: grid;
		row-gap: var(--space-m);
		place-content: start;
	}
</style>