---

---

<header>
    <!-- <menu role="list">
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li>
        <li><a href="">Link</a></li> -->
    </menu>
</header>

<style>
    header {
        grid-column: 2 / span 3;
        padding: var(--space-l) var(--space-xl);
        z-index: 1;

        menu {
            place-self: end;
            display: flex;
            gap: var(--space-l-xl);
            max-width: 600px;
        }
    }
</style>