---

---

<div>
    <p>S. S.</p>
    <p>Soto</p>
</div>

<style>
    div {
        display: grid;
        place-items: center;
        text-transform: uppercase;
        border: solid 2px var(--clr-text-body);
        padding: var(--space-2xs);
        line-height: 2.5ch;

        p:first-child {
            display: flex;
            justify-content: space-between;
            font-size: var(--text-size-heading-2);
        }

    }
</style>